.developer-card{
    cursor: pointer;
}
.developer-list-top {
  display: flex;
}
.developer-card-profile-img {
  border-radius: 50%;
  width: 50%;
}
.developer-card-profile-name {
  color: var(--main-blue);
}
.profile-img-container {
  width: 10%;
}
.developer-list-top p {
  font-size: 0.9rem;
  margin-bottom: 2px;
}
.invite-button {
  font-size: 0.8rem;
}
.developer-list-second p {
  font-size: 0.8rem;
  margin-bottom: 4px;
  display: inline-block;
}
.state-class {
  color: grey;
}
.developer-list-third p {
  color: grey;
  font-size: 0.8rem;
  margin-bottom: 4px;
}

