
.formcontainer{
    background-color: #fff;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 5%;
    width: 70%;
    
}
.formclass{
    background-color: #fff;
}
.flexwrap-container{
     display: flex;
  flex-wrap: wrap;
}